/**
 * main.less
 * Compilation of styles for TechBikers.com
 */
/**
 * variables.less
 */
/**
 * Mixins!
 * Stolen from bootstrap as needed
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * typography.less
 * Basic typograhpy for the site
 */
body {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 26px;
}
a {
  color: #62519a;
  text-decoration: none;
}
a:hover {
  color: #7c6cb2;
  text-decoration: underline;
}
p {
  margin: 26px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 26px 0 0 0;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 13px;
}
h1 {
  font-size: 36px;
  line-height: 52px;
}
h2 {
  font-size: 24px;
  line-height: 39px;
}
section > header {
  background: url('../img/divider.png') bottom center no-repeat;
  padding-bottom: 26px;
}
section > header > h1 {
  text-align: center;
}
section > header > h2 {
  text-align: center;
  margin-top: 0;
}
section > h2,
section > p,
section ul {
  padding-left: 0;
  margin-left: 80px;
  margin-right: 80px;
}
.stat {
  margin-top: 26px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
}
.stat small {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.statText {
  text-align: center;
}
.centerText {
  text-align: center;
}
/**
 * forms.less
 * Forms, inputs, &c
 * Hunks from bootstrap 2.0
 */
form {
  margin: 0 0 26px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 26px;
  font-size: 27px;
  line-height: 52px;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 19.5px;
}
label,
input,
button,
select,
textarea {
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
}
input,
button,
select,
textarea {
  font-family: 'Lato', sans-serif;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 26px;
  padding: 4px 6px;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input,
textarea,
.uneditable-input {
  width: 226px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 2px solid #999;
  -webkit-transition: border linear .05s;
  -moz-transition: border linear .05s;
  -o-transition: border linear .05s;
  transition: border linear .05s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #4494c7;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
textarea.input-validation-error,
input[type="text"].input-validation-error,
input[type="password"].input-validation-error,
input[type="datetime"].input-validation-error,
input[type="datetime-local"].input-validation-error,
input[type="date"].input-validation-error,
input[type="month"].input-validation-error,
input[type="time"].input-validation-error,
input[type="week"].input-validation-error,
input[type="number"].input-validation-error,
input[type="email"].input-validation-error,
input[type="url"].input-validation-error,
input[type="search"].input-validation-error,
input[type="tel"].input-validation-error,
input[type="color"].input-validation-error,
.uneditable-input.input-validation-error {
  border-color: #f14646;
  margin-bottom: 4px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
.field-validation-error {
  font-size: 16px;
  display: block;
  color: #f14646;
  margin: -4px 0 26px 0;
}
/**
 * layout.less
 * Major section layouts
 */
.content {
  width: 800px;
  margin: auto;
}
.row {
  *zoom: 1;
  margin-left: -40px;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 40px;
}
.span1 {
  width: 100px;
}
.span2 {
  width: 240px;
}
.span3 {
  width: 380px;
}
.span4 {
  width: 520px;
}
.span5 {
  width: 660px;
}
.span6 {
  width: 800px;
}
.offset1 {
  margin-left: 180px;
}
.offset2 {
  margin-left: 320px;
}
.offset3 {
  margin-left: 460px;
}
.offset4 {
  margin-left: 600px;
}
.offset5 {
  margin-left: 740px;
}
[role="header"] .topNavigation {
  position: relative;
  text-align: left;
  height: 200px;
}
[role="header"] .topNavigation a {
  display: inline-block;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  margin: 0 40px 0 0;
  vertical-align: middle;
  height: 200px;
  line-height: 200px;
  color: #666;
  text-decoration: none;
}
[role="header"] .topNavigation a:nth-child(2):hover {
  color: #eb1c24;
}
[role="header"] .topNavigation a:nth-child(3):hover {
  color: #4494c7;
}
[role="header"] .topNavigation a:nth-child(4):hover {
  color: #625398;
}
[role="header"] .topNavigation a:nth-child(5):hover {
  color: #76c15a;
}
[role="header"] .topNavigation a.userAuth {
  float: right;
  margin: 0 0 0 40px;
}
[role="footer"] {
  background: #392C3A;
  margin-top: 52px;
  padding: 130px 0;
  color: #F5EFEA;
}
[role="footer"] a {
  color: #FDEC18;
}
[role="footer"] nav {
  list-style: none;
}
.hero {
  *zoom: 1;
  background: url('/static/img/background.jpg');
  background-size: cover;
  padding: 100px 0;
  color: white;
}
.hero:before,
.hero:after {
  display: table;
  content: "";
  line-height: 0;
}
.hero:after {
  clear: both;
}
.hero .strapline {
  text-shadow: 0px 0px 2px black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.hero .strapline .strap1 {
  display: block;
  font-size: 130px;
  line-height: 1;
}
.hero .strapline .strap2 {
  display: block;
  font-size: 22px;
  line-height: 1;
}
.hero .strapline .strap3 {
  display: block;
  font-size: 166px;
  line-height: 1;
}
.hero .strapline .strapAmp {
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 48px;
  -webkit-transform: translate(0, 5px);
  -moz-transform: translate(0, 5px);
  -ms-transform: translate(0, 5px);
  -o-transform: translate(0, 5px);
  transform: translate(0, 5px);
}
.hero .intro {
  margin-top: 14px;
  font-size: 24px;
  line-height: 1.3;
}
.hero .btn {
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.hero .btn:hover {
  border-color: white;
  background: white;
  color: #333333;
}
/**
 * components.less
 * Buttons, sliders, all those little things
 */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 10px 40px;
  margin-bottom: 0;
  border: 3px solid #333333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
  background: #4d4d4d;
  border-color: #4d4d4d;
  color: white;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-transform: translate(0px, 3px);
  -moz-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  -o-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.callout {
  background: #FDEC18;
  margin: 26px 0;
  padding: 26px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.callout h1,
.callout h2,
.callout p {
  text-align: center;
}
/**
 * Registration steps
 */
.steps {
  margin: 52px 0;
  padding: 0;
  text-align: center;
}
.steps li {
  display: inline-block;
  width: 200px;
  color: #aaa;
}
.steps li span {
  display: block;
  margin: auto;
  text-align: center;
}
.steps li span:first-child {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #aaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.steps li.active {
  color: #46832e;
}
.steps li.active span:first-child {
  color: white;
  background: #74C354;
  border-color: #74C354;
}
.creditCard {
  width: 400px;
  margin: 26px auto;
  padding: 20px;
  border: 2px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.creditCard .infoRow {
  height: 80px;
  text-align: center;
}
.creditCard .infoRow img {
  width: 60px;
}
.creditCard .topRow {
  *zoom: 1;
}
.creditCard .topRow:before,
.creditCard .topRow:after {
  display: table;
  content: "";
  line-height: 0;
}
.creditCard .topRow:after {
  clear: both;
}
.creditCard .bottomRow {
  margin-top: 40px;
  *zoom: 1;
}
.creditCard .bottomRow:before,
.creditCard .bottomRow:after {
  display: table;
  content: "";
  line-height: 0;
}
.creditCard .bottomRow:after {
  clear: both;
}
.creditCard .longNumber {
  float: left;
  width: 65%;
}
.creditCard .cvc {
  float: right;
  width: 20%;
}
.creditCard .nameOnCard {
  float: left;
  width: 55%;
}
.creditCard .date {
  float: right;
}
.creditCard .month {
  width: 36px;
}
.creditCard .year {
  margin-left: 4px;
  width: 50px;
}
