{% extends "shared/_base.html" %}

{% load currency %}
{% load staticfiles %}

{% block head %}
<!-- The required Stripe lib -->
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
{% endblock %}

{% block content %}
<div class="content">

    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('{{ key }}');

        var stripeResponseHandler = function(status, response) {
          var $form = $('#payment-form');

          if (response.error) {
            // Show the errors on the form
            $form.find('.field-validation-error').text(response.error.message);
            $form.find('button').prop('disabled', false);
          } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $form.get(0).submit();
          }
        };

        jQuery(function($) {
          $('#payment-form').submit(function(e) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
          });
        });
    </script>

  <section>
    <header>
      <h1>Register for Techbikers 2013</h1>
    </header>

    {% if signed_up %}

    <p>
        You have already signed up for the {{ ride.name }} ride. No need to pay for it again!
    </p>

    {% elif full %}

    <p>
        Dang... This ride is full!
    </p>

    {% else %}

    <ol class="steps">
      <li>
        <span>1</span>
        <span>Join Techbikers</span>
      </li>

      <li class="active">
        <span>2</span>
        <span>Pay the ride fee</span>
      </li>

      <li>
        <span>3</span>
        <span>Registration Complete!</span>
      </li>
    </ol>

    <p>
        You are about to sign up for <strong>{{ ride.name }}</strong> at a cost of <strong>£{{ ride.price|floatformat:2 }}</strong>.<br/>
    </p>

    <form action="/sales/charge/" method="POST" id="payment-form">
        <span class="field-validation-error centerText"></span>

        {% csrf_token %}

        <input type="hidden" name="ride" value="{{ ride.id }}">

        <div class="creditCard">

            <div class="infoRow">
                <img src="{% static "img/icons/amex.png" %}" />
                <img src="{% static "img/icons/diners.png" %}" />
                <img src="{% static "img/icons/discover.png" %}" />
                <img src="{% static "img/icons/jcb.png" %}" />
                <img src="{% static "img/icons/mastercard.png" %}" />
                <img src="{% static "img/icons/visa.png" %}" />
            </div>

            <div class="topRow">
                <input class="longNumber" type="text" size="20" data-stripe="number" placeholder="XXXX XXXX XXXX XXXX"/>
                <input class="cvc" type="text" size="20" data-stripe="cvc" placeholder="CVC" />
            </div>

            <div class="bottomRow">
                <input class="nameOnCard" type="text" size="20" data-stripe="name" placeholder="Name on card"/>

                <div class="date">
                    <input class="month" type="text" size="2" data-stripe="exp-month" placeholder="MM"/>
                    <input class="year" type="text" size="4" data-stripe="exp-year" placeholder="YYYY"/>
                </div>
            </div>
        </div>

        <p class="centerText">
            <input class="btn" type="submit" value="Charge my card £{{ ride.price|floatformat:2 }}" />
        </p>
    </form>

    <p class="centerText">
        <a href="https://www.stripe.com" target="_blank"><img src="{% static 'img/stripe@2x.png' %}" alt="Stripe supports TechBikers"  width="160px"/></a>
        <br/>
        <small>Payments powered by Stripe - the easy way to take card payments online.</small>
    </p>


    {% endif %}
  </section>
</div>

{% endblock %}