{% extends "shared/_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="content">
        <section>
            <header>
                <h1>Login</h1>
            </header>
            <br/>
            <form id="loginform" method='post' novalidate="novalidate">
                {% csrf_token %}
                <div class="row centerText">
                    <input type="text" name="email" value="" id="Email" placeholder="email address"
                           data-val="true"
                           data-val-required="Please enter your email address"
                           data-val-regex="Email Format is wrong"
                           data-val-regex-pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" >
                </div>
                <div class="row centerText">
                    <input type="password" name="password" value="" id="Password" placeholder="password"
                           data-val="true"
                           data-val-required="Please enter your password" >
                </div>
                <div class="row">
                  <p class="centerText">
                    <input type="submit" value="Login" class="btn" />
                  </p>
                  <p class="centerText">
                      Don't have an account yet? <a href="{% url "rider_registration" %}{% if next %}?next={{ next }}{% endif %}">Create one!</a>
                  </p>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </section>
    </div>
{% endblock %}
