{% extends "shared/_base.html" %}

{% block content %}
<div class="content">
  <section>
    <header>
      <h1>About Techbikers</h1>
    </header>

    <p>
      Techbikers is a collaboration of the London tech startup community to help children in need by supporting Room to Read.
    </p>

    <p>
      Tech Bikers was born from Googleʼs Campus London, a workspace at the heart of East Londonʼs tech city. It is a collaboration amongst Eze Vidra, head of Google Campus, Benjamin Southworth, Deputy CEO at Tech City UK, and Gerry Newton, Campus London resident and Founder of the Cyclr.
    </p>

    <p>
      “Londonʼs Tech City community is amazing. I see it everyday in Campus. Inspiring projects like Techbikers allow us to come together, away from our individual goals, to pool our energies into a joint one,” said Vidra. “We want to build a childrenʼs library in the developing world, so get on your bike and joins us.”
    </p>

    <p>
      Vidraʼs vision was to unite the great minds at Campus London for a project that would leave a lasting impact on childrenʼs lives.
    </p>

    <p>
      “Tech Bikers represents everything great about the tech community, by supporting Room to Read, we can make a positive difference in other communities, similar to ways our sponsors have made a difference to ours,” said Newton. “We rely on the support of sponsors to complete this challenge. If you want to be involved, please let us know and support us in our mission to make a real difference.”
    </p>
  </section>
</div>
{% endblock content %}